<h2>Hi There!</h2>
<p>
  Welcome to the Pizza API built on Ruby on Rails! <br>
  <a href= "https://rails-pizza-api.herokuapp.com/restaurants"> Restaurants </a>
  <a href= "https://rails-pizza-api.herokuapp.com/pizzas"> Pizzas </a>

</p>