<h2>Hi There!</h2>
<p>
  Welcome to the Pizza API built on Ruby on Rails! <br>
</p>
<h3> Here are the endpoints </h3>
  <a href= "https://rails-pizza-api.herokuapp.com/restaurants"> Restaurants </a>
  <br>
  <a href= "https://rails-pizza-api.herokuapp.com/pizzas"> Pizzas </a>